<div class="row">
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="box box-primary">
      <div class="box-header with-border">
        <i class="fa fa-info-circle"></i> <h3 class="box-title">Tournament Info</h3>
      </div>
      
      <div class="box-body tourney-info">
        <strong><i class="fa fa-trophy margin-r-5"></i> Style</strong>
        <p class="text-muted">
          Single Elimination
        </p>

        <hr>
        
        <strong><i class="fa fa-users margin-r-5"></i> Players</strong>
        <p class="text-muted nomargin">
          11
        </p>

        <hr>
        
        <strong><i class="fa fa-calendar margin-r-5"></i> Start</strong>
        <p class="text-muted nomargin">
          May 12, 2016 @ 7:00 PM EST
        </p>

        <hr>
        
        <strong><i class="fa fa-clock-o margin-r-5"></i> Check-in</strong>
        <p class="text-muted nomargin">
          1 hour before
        </p>
        
        <hr>
        
        <button class="btn btn-block btn-success btn-lg">Register</button>
      </div><!-- /.box-body -->
    </div>
  </div>
  
  <div class="col-lg-3 col-lg-push-6 col-md-8 col-sm-6">
    <div class="box box-primary">
      <div class="box-header with-border">
        <i class="fa fa-list"></i> <h3 class="box-title">Rules</h3>
      </div>
      
      <div class="box-body tourney-info">
        <div class="row bordered">
          <div class="col-xs-6">
            <strong><i class="fa fa-gamepad margin-r-5"></i> Mode</strong>
            <p class="text-muted nomargin">
              1v1 Stock
            </p>
          </div>
          
          <div class="col-xs-6">
            <strong><i class="fa fa-hourglass-half margin-r-5"></i> Time Limit</strong>
            <p class="text-muted nomargin">
              8 minutes
            </p>
          </div>
        </div>
        
        <hr>
        
        <strong><i class="fa fa-ban margin-r-5"></i> Map Banning</strong>
        <p class="text-muted nomargin">
          <strong>First game:</strong> alternate; highest seed first <br/>
          <strong>Second game:</strong> loser picks
        </p>
        
        <hr>
        
        <strong><i class="fa fa-map-o margin-r-5"></i> Map Set</strong>
        <p class="text-muted nomargin">
          <span class="label label-primary">Twilight Grove</span>
          <span class="label label-primary">Kings Pass</span>
          <span class="label label-primary">Thundergard Stadium</span>
          <span class="label label-primary">Blackguard Keep</span>
          <span class="label label-primary">Mammoth Fortress</span>
          <span class="label label-primary">Great Hall</span>
          <span class="label label-primary">Shipwreck Falls</span>
        </p>
      </div><!-- /.box-body -->
    </div>
  </div>
  
  <div class="col-lg-6 col-lg-pull-3 col-xs-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <i class="fa fa-paragraph"></i> <h3 class="box-title">Description</h3>
      </div>
      
      <div class="box-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus fringilla, dui sit amet rhoncus viverra, massa ex placerat justo, id dapibus lorem ante non elit. Quisque pretium laoreet mauris, ut imperdiet nunc volutpat a. Proin varius vulputate mi eu ornare. Cras non erat vestibulum, dictum lectus at, feugiat lorem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus ornare libero sed sollicitudin hendrerit. Curabitur malesuada vehicula purus. Integer quis nulla rhoncus, vestibulum libero nec, vestibulum nisl. Maecenas id condimentum neque. Nam ultricies tempus ex sit amet egestas. Etiam accumsan dapibus posuere. Nulla facilisi. Sed imperdiet dapibus egestas. Aliquam iaculis venenatis nisl vehicula luctus. Nullam sit amet mollis dui.</p>
      </div><!-- /.box-body -->
    </div>
  </div>
</div>