<div class="box box-primary bb-legend-picker">
  <div class="box-header with-border">
    <h3 class="box-title"><i class="fa fa-user"></i> Pick your legend</h3>
  </div>
  <div class="box-body">
    <ul class="legend-roster">
      {% for legend in legendData %}
        <li>
          <a href="#" class="bb-legend-option" legend="{{ legend[1] }}">
            <div class="legend-image-wrapper">
              <img src="/static/brawlbracket/img/legends/{{ legend[1] }}.png">
              <div class="legend-circle"></div>
            </div>
            <p>{{ legend[0] }}</p>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>