{% from 'macros.html' import pageHeader %}
{% extends "layout.html" %}

{%- block header -%}
  {{
    pageHeader([
      [tournament.name, '']
    ])
  }}
{%- endblock -%}
  
{%- block content -%}
  {% set inApp = False %}
  {% include 'app/elements/tournament-info.html' %}
  
  <hr class="divider">
{%- endblock -%}

{%- block breakoutContent -%}
  <div id="bracket" class="bracket-scroll-wrapper centered"></div>
{%- endblock -%}

{%- block extraScripts -%}
  {% include 'app/elements/bracket-scripts.html' %}
  
  <script>
    createBracket('bracket', {{ tournament.getDisplayJSON()|tojson }});
  </script>
{%- endblock extraScripts -%}