{% from 'macros.html' import pageLayout %}

{% call pageLayout(tourneyName, tourneyFullName, userId, basePath, startPage or null, 'brawlBracketAdminInit') %}
  <li class="bb-menu-option active" page="admin-dashboard"><a href="#">
    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
  </a></li>

  <li class="bb-menu-option" page="admin-participants"><a href="#">
    <i class="fa fa-users"></i> <span>Participants</span>
  </a></li>

  <li class="bb-menu-option" page="tournament-settings"><a href="#">
    <i class="fa fa-cogs"></i> <span>Tournament Settings</span>
  </a></li>
{% endcall %}