{% from 'macros.html' import pageLayout %}

{% call pageLayout(tourneyName, tourneyFullName, participantId, basePath, startPage or null, 'brawlBracketParticipantInit') %}
  <li class="bb-menu-option active" page="lobby"><a href="#">
    <i class="fa fa-gamepad"></i> <span>Current Match</span>
  </a></li>

  <li class="bb-menu-option" page="bracket"><a href="#">
    <i class="fa fa-trophy"></i> <span>Bracket</span>
  </a></li>

  <li class="bb-menu-option" page="contact-admin"><a href="#">
    <i class="fa fa-bullhorn"></i> <span>Contact Admin</span>
  </a></li>

  <li class="bb-menu-option" page="player-settings"><a href="#">
    <i class="fa fa-cogs"></i> <span>User Settings</span>
  </a></li>
{% endcall %}