/*
Index page
*/
.title p {
  text-align: center;
  font-size: 36px;
  margin: 20px 0px 30px;
}

.carousel-wrapper {
  border-radius: 4px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-bottom: 15px;
}

.call-to-action {
  text-align: center;
}

.call-to-action button {
  width: auto;
  display: inline;
}

hr.divider {
  background: rgb(204, 204, 204) none repeat scroll 0% 0%;
  height: 1px;
  width: 60%;
}


/*
Sign in through Steam button
*/
.navbar-nav > .login-button {
  height: 50px;
  padding-top: 3px;
}

.navbar-nav > .login-button > a {
  padding: 0 !important;
}

.navbar-nav > .login-button > a:hover {
  background: rgba(0, 0, 0, 0) !important;
}

.navbar-nav > .login-button > a:clicked {
  background: rgba(0, 0, 0, 0) !important;
}

/*
Player versus player widget
*/
.widget-user .widget-user-username-versus-1,
.widget-user .widget-user-username-versus-2,
.widget-user .widget-user-username-versus-center {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 300;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
.widget-user .widget-user-username-versus-1 h3,
.widget-user .widget-user-username-versus-2 h3 {
  text-align: center;
  
  /* Deal with large names by cutting them off with an ellipsis */
  text-overflow: ellipsis;
  width: 34%;
  white-space: nowrap;
  overflow: hidden;
}
.widget-user .widget-user-username-versus-center {
  left: 50%;
}
.widget-user .widget-user-image-versus-1,
.widget-user .widget-user-image-versus-2 {
  position: absolute;
  top: 65px;
  left: 50%;
  margin-left: -45px;
}
.widget-user .widget-user-username-versus-1,
.widget-user .widget-user-image-versus-1 {
  left: 20.5%;
}
.widget-user .widget-user-username-versus-2,
.widget-user .widget-user-image-versus-2 {
  left: 79.5%;
}
.widget-user .widget-user-image-versus-1 > img,
.widget-user .widget-user-image-versus-2 > img {
  width: 90px;
  height: auto;
  border: 3px solid #fff;
}
.widget-user .description-score {
  margin-top: 0px;
  margin-bottom: 0px;
}
.widget-user .description-block .btn-app {
  margin: 5px 0px 0px 0px;
}
.widget-user .description-status {
  display: inline-block;
  border-radius: 3px;
  padding: 6px 14px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
}

/*
Player info
*/
/* First column holds seed */
.table-players > tbody > tr > td:nth-child(1) {
  width: 12px;
}

/* Second column holds icon */
.table-players > tbody > tr > td:nth-child(2) {
  width: 38px;
  padding-left: 0px;
  padding-right: 0px;
}

.table-players > tbody > tr > td:nth-child(2) > img {
  background-color: #406080;
  border-radius: 5px;
}

.table-players > tbody > tr > td {
  vertical-align: middle;
}

.table-players .player-status {
  width: 12px;
  height: 12px;
  margin: auto;
  border-radius: 50%;
}

.table-players .player-status[data-original-title="Online"] {
  background-color: green;
}

.table-players .player-status[data-original-title="In another match"] {
  background-color: goldenrod;
}

.table-players .player-status[data-original-title="Offline"] {
  background-color: lightgrey;
}

/*
Legend picker
*/
.legend-roster {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.legend-roster > li {
  display: inline-block;
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.legend-roster > li .legend-circle {
  width: 98px;
  height: 98px;
  border: 5px solid #FFFFFF;
  margin-bottom: 0px;
  background-color: #367FA9;
  border-radius: 50%;
}

.legend-roster > li img {
  position: absolute;
  margin-top: -35px;
  margin-left: -40px;
  -moz-transform: scale(0.8, 0.8);
  -o-transform: scale(0.8, 0.8);
  -webkit-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
  pointer-events: none;
}

.legend-roster > li p {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0px;
}

.legend-roster > li a p {
  color: #333;
}

.legend-roster > li a:hover .legend-circle {
  background-color: #3C8DBC;
}

.legend-roster > li a:hover p {
  color: #555;
}

.bb-legend-option.disabled .legend-image-wrapper {
  position: relative;
  opacity: 0.4;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}

.bb-legend-option.disabled > p {
  text-decoration: line-through;
}

/*
Realm picker
*/
.realm-picker {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.realm-picker > li {
  display: inline-block;
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.realm-picker > li img {
  border-radius: 5px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.realm-picker > li p {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0px;
}

.realm-picker > li a p {
  color: #333;
}

.realm-picker > li a:hover img {
  filter: opacity(75%);
}

.realm-picker > li a:hover p {
  color: #555;
}

/*
AdminLTE tweaks
*/
.info-box {
  position: relative;
  border-radius: 3px;
}

.info-box-icon {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.content-wrapper.not-ready > * {
  visibility: hidden;
}