{% from 'app/elements/macros.html' import appHeader with context %}
{{ appHeader('Admin Chat') }}

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3" id="chat-container">
    </div>
  </div>
</section><!-- /.content -->

<script>
  ReactDOM.render(
      React.createElement(Chat,
          {
              chatId: adminChatId,
              socket: chatSocket,
              chatCache: chatCache,
              userId: userId,
              height: '500px'
          }
      ),
      $('#chat-container').get(0)
  );
</script>