{% from 'app/elements/macros.html' import appHeader with context %}
{{ appHeader('Match') }}

<section id="lobby" class="content callout-container">
</section>

<script src="/static/brawlbracket/js/components/picker.min.js"></script>
<script src="/static/brawlbracket/js/components/lobby.min.js"></script>
<script>
  ReactDOM.render(
    React.createElement(Lobby,
      {
        lobbyData: lobbyData,
        mainSocket: pSocket,
        chatSocket: chatSocket,
        chatCache: chatCache,
        legendData: {{ legendData|tojson }},
        userId: userId
      }
    ),
    $('#lobby').get(0)
  );
</script>