{% from 'app/elements/macros.html' import appHeader with context %}
{{ appHeader('Match') }}

<section id="lobby" class="content callout-container">
</section>

<script src="/static/brawlbracket/js/components/general.min.js"></script>
<script src="/static/brawlbracket/js/components/picker.min.js"></script>
<script src="/static/brawlbracket/js/components/lobby.min.js"></script>
<script src="/static/brawlbracket/js/pages/lobby.min.js"></script>
<script>
  initLobby({{ legendData|tojson }}, {{ realmData|tojson }});
</script>