{% from 'app/elements/macros.html' import appHeader with context %}
{{ appHeader('Match') }}

<script src="/static/brawlbracket/js/lobby.min.js"></script>

<!-- Main content -->
<section class="content callout-container">
  <div class="row">
    <div class="col-xs-12 col-lg-3 pull-left" id="sidebar-content">
      <!-- Player info -->
      <div class="box box-solid bb-wait-for-match">
        <div class="box-header with-border">
          <h4 class="box-title">Players</h4>
        </div>
        <div class="box-body no-padding">
          <table class="table table-striped table-players">
            <tbody>
              <tr>
                <td><div id="bb-pla1-status" class="player-status" data-toggle="tooltip" data-original-title="Offline"></div></td>
                <td><img id="bb-pla1-legend" src="/static/brawlbracket/img/legends-small/none.png"></td>
                <td id="bb-pla1-name"></td>
              </tr>
              <tr>
                <td><div id="bb-pla2-status" class="player-status" data-toggle="tooltip" data-original-title="Offline"></div></td>
                <td><img id="bb-pla2-legend" src="/static/brawlbracket/img/legends-small/none.png"></td>
                <td id="bb-pla2-name"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-lg-9 pull-right">
      <div class="row">
        <div class="col-lg-8">
          <!-- Participant info and score reporting -->
          <div class="box box-widget widget-user bb-wait-for-match">
            <div class="widget-user-header bg-green-active">
              <h3 class="widget-user-username-versus-1" id="bb-par1-name"></h3>
              <h3 class="widget-user-username-versus-center">vs</h3>
              <h3 class="widget-user-username-versus-2" id="bb-par2-name"></h3>
            </div>
            <div class="widget-user-image-versus-1">
              <img class="img-circle" id="bb-par1-avatar" src="http://www.gravatar.com/avatar/?d=mm" alt="User Avatar">
            </div>
            <div class="widget-user-image-versus-2">
              <img class="img-circle" id="bb-par2-avatar" src="http://www.gravatar.com/avatar/?d=mm" alt="User Avatar">
            </div>
            <div class="box-footer">
              <div class="row">
                <div class="col-xs-5 border-right">
                  <div class="description-block" id="bb-par1-description">
                  </div><!-- /.description-block -->
                </div><!-- /.col -->
                <div class="col-xs-2">
                  <div class="description-block" style="margin: 0px; height: 85px;">
                    <h2 class="description-score" id="bb-score"></h2>
                    <span class="description-text" id="bb-best-of"></span>
                  </div><!-- /.description-block -->
                </div><!-- /.col -->
                <div class="col-xs-5 border-left">
                  <div class="description-block" id="bb-par2-description">
                  </div><!-- /.description-block -->
                </div><!-- /.col -->
              </div><!-- /.row -->
            </div>
          </div>
        </div>
      
        <div class="col-lg-4">
          <div class="row">
            <div class="col-sm-12 col-lg-12">
              <!-- Game info -->
              <div class="info-box bb-wait-for-match overlay-wrapper">
                <span class="info-box-icon bg-light-blue"><i class="fa fa-clock-o"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">Time Since Start</span>
                  <span class="info-box-number" id="bb-timer"></span>
                </div><!-- /.info-box-content -->
              </div><!-- /.info-box -->
            </div>
            
            <div class="col-sm-6 col-lg-12">
              <!-- Game info -->
              <div class="info-box bb-wait-for-match overlay-wrapper">
                <span class="info-box-icon bg-light-blue"><i class="fa fa-users"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">Room Number</span>
                  <span class="info-box-number" id="bb-room-number"></span>
                </div><!-- /.info-box-content -->
              </div><!-- /.info-box -->
            </div>
            
            <div class="col-sm-6 col-lg-12">
              <div class="info-box bb-wait-for-match overlay-wrapper">
                <span class="info-box-icon bg-light-blue"><i class="fa fa-map"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">Current Map</span>
                  <span class="info-box-number" id="bb-current-realm"></span>
                </div><!-- /.info-box-content -->
              </div><!-- /.info-box -->
            </div>
          </div>
        </div>
      </div>
      
      <div id="bb-picker-content">
      </div>
    </div>
    
    <div class="col-xs-12 col-lg-3 pull-left" id="sidebar-content">
      <!-- Chat box -->
      <div id="bb-lobby-chat"></div>
    </div>
  </div>
</section><!-- /.content -->