{% extends "app/layout.html" %}

{%- block menu -%}
  {{ super() }}

  <li class="bb-menu-option" page="index"><a href="#">
    <i class="fa fa-home"></i> <span>Home</span>
  </a></li>

  <li class="bb-menu-option active" page="lobby"><a href="#">
    <i class="fa fa-gamepad"></i> <span>Current Match</span>
  </a></li>

  <li class="bb-menu-option" page="contact-admin"><a href="#">
    <i class="fa fa-bullhorn"></i> <span>Contact Admin</span>
  </a></li>
{%- endblock -%}

{%- block script -%}
  {{ super() }}
  brawlBracketParticipantInit();
{%- endblock -%}