<div class="row">
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="box box-primary">
      <div class="box-header with-border">
        <i class="fa fa-info-circle"></i> <h3 class="box-title">Tournament Info</h3>
      </div>
      
      <div class="box-body tourney-info">
        <strong><i class="fa fa-trophy margin-r-5"></i> Style</strong>
        <p class="text-muted">
          {{ tournament.style }}
        </p>

        <hr>
        
        <strong><i class="fa fa-users margin-r-5"></i> Players</strong>
        <p class="text-muted nomargin">
          {{ tournament.players|length }}
        </p>

        {%- if tournament.startTime -%}
          <hr>
          
          <strong><i class="fa fa-calendar margin-r-5"></i> Start</strong>
          <p class="text-muted nomargin">
            {{ tournament.startTime|datetime }}
          </p>
          
          {%- if tournament.checkInTime -%}
            <hr>
            
            <strong><i class="fa fa-clock-o margin-r-5"></i> Check-in</strong>
            <p class="text-muted nomargin">
              {{ (tournament.startTime - tournament.checkInTime)|timedelta }} before
            </p>
          {%- endif -%}
        {%- endif -%}
        
        {# No buttons at all if in the app #}
        {%- if not inApp -%}
          <hr>
        
          {%- if user -%}
            {%- if tournament.getUserInfo(user) -%}
              <form action="app" method="get">
                <button type="submit" class="btn btn-block btn-success btn-lg" href="app">Launch app</a>
              </form>
            {%- else -%}
              <form action="." method="post">
                <button type="submit" class="btn btn-block btn-success btn-lg">Register</button>
              </form>
            {%- endif -%}
          {%- else -%}
            <button class="btn btn-block btn-success btn-lg disabled" href="app">Log in to register</button>
          {%- endif -%}
        {%- endif -%}
      </div><!-- /.box-body -->
    </div>
  </div>
  
  <div class="col-lg-3 col-lg-push-6 col-md-8 col-sm-6">
    <div class="box box-primary">
      <div class="box-header with-border">
        <i class="fa fa-list"></i> <h3 class="box-title">Rules</h3>
      </div>
      
      <div class="box-body tourney-info">
        <div class="row bordered">
          <div class="col-xs-6">
            <strong><i class="fa fa-gamepad margin-r-5"></i> Mode</strong>
            <p class="text-muted nomargin">
              1v1 Stock
            </p>
          </div>
          
          <div class="col-xs-6">
            <strong><i class="fa fa-hourglass-half margin-r-5"></i> Time Limit</strong>
            <p class="text-muted nomargin">
              8 minutes
            </p>
          </div>
        </div>
        
        <hr>
        
        <strong><i class="fa fa-ban margin-r-5"></i> Map Banning</strong>
        <p class="text-muted nomargin">
          <strong>First game:</strong> alternate; highest seed first <br/>
          <strong>Second game:</strong> loser picks
        </p>
        
        <hr>
        
        <strong><i class="fa fa-map-o margin-r-5"></i> Map Set</strong>
        <p class="text-muted nomargin">
          <span class="label label-primary">Twilight Grove</span>
          <span class="label label-primary">Kings Pass</span>
          <span class="label label-primary">Thundergard Stadium</span>
          <span class="label label-primary">Blackguard Keep</span>
          <span class="label label-primary">Mammoth Fortress</span>
          <span class="label label-primary">Great Hall</span>
          <span class="label label-primary">Shipwreck Falls</span>
        </p>
      </div><!-- /.box-body -->
    </div>
  </div>
  
  <div class="col-lg-6 col-lg-pull-3 col-xs-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <i class="fa fa-paragraph"></i> <h3 class="box-title">Description</h3>
      </div>
      
      <div class="box-body">
        <p>{{ tournament.description }}</p>
      </div><!-- /.box-body -->
    </div>
  </div>
</div>